<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat Room</title>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<style>
    body, html {
        background: url('https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png');
        background-position: center;
        background-size: cover;
        height: 100%;
        font: 'Helvetica';
        color: #ffffff;
    }


    .align-center {
      display: flex;
      vertical-align: baseline;
    }

    .message-container {
        color: #000000;
    }

</style>
<body>

<nav class="navbar navbar-dark bg-primary">
        <span class="navbar-brand">Chat Room</span>
        <div class="form-inline mr-sm-2">
            <a class="btn btn-outline-light" id="logout-btn" th:href="@{/}">
                <i class="material-icons">exit_to_app</i>
            </a>
        </div>
</nav>
<div style="margin-left:20px;margin-right:20px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="col-xs-12 col-sm-10">
                    <div class="row mt-3 mb-2">
                        <h4 class="">Welcome：
                        <span class="" id="username" th:text="${username}"></span>
                        </h4>
                    </div>
                </div>
                <div class="col-sm-12 col-sm-10">
                    <div class="form-group row">
                        <div class="align-center">
                            <i class="icon material-icons btn-outline-info" style="padding:5px;">textsms</i>
                            <label class="col-form-label icon-text">Send Text:</label>
                        </div>
                        <div class="col-sm-10">
                            <input class="form-control" id="msg"/>
                        </div>
                    </div>
                    <div class="container" style="padding:20px 35px">
                        <button class="btn btn-info" id="send-btn"
                                onclick="sendMsgToServer()">Send
                        </button>
                        <button class="btn btn-secondary"
                                onclick="clearMsg()">Clear
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-5" style="padding:10px 0">
                <div class="badge badge-info">
                    <span class="badge badge-light">
                        <i class="material-icons">&#xe420;</i></span>
                    <span class="label">Content</span>
                </div>

                <div class="badge badge-info">
                    <span class="badge badge-light">
                        <i class="material-icons">face</i></span>
                    <span class="label">Online Users  <span class="chat-num badge badge-primary"></span></span>

                </div>
                <div class="message-container"></div>
            </div>

        </div>
    </div>
</div>

<script th:inline="javascript">

    function getWebSocket() {
        var webSocket = new WebSocket('ws://localhost:8080/chat');

        webSocket.onopen = function (event) {
            console.log('WebSocket open connection');
            webSocket.send(JSON.stringify({username: $('#username').text(), msg: $('#username').text()+ " has joined the chat!", type: "OPENED"}));
        };

        webSocket.onmessage = function (event) {
           // console.log('WebSocket Receives：%c' + event.data, 'color:green');
            //Receive Message from Server
            var message = JSON.parse(event.data) || {};
            var $messageContainer = $('.message-container');
            if (message.type === 'SPEAK') {
                $messageContainer.append(
                    '<div class="card bg-light mt-3">' +
                    '<div class="card-body align-center">' +
                    '<div class="row ml-3" ><h5 class="card-title col-xs-4">' + message.username + '：</h5> <p class="card-text col-xs-6 msg-text">' + message.msg + '</p></div></div>' +
                    '</div></div>');
            } else if (message.type === 'OPENED') {
                $messageContainer.append(
                    '<div class="card bg-success mt-3 console-message">' +
                    '<div class="card-body" style="color:white">' +
                    '<div class="text-center"><p class="card-text">' + message.msg + '</p></div>' +
                    '</div></div>');
            } else if (message.type === 'CLOSED') {
                $messageContainer.append(
                    '<div class="card bg-dark  mt-3 console-message">' +
                    '<div class="card-body" style="color:white">' +
                    '<div class="text-center"><p class="card-text">' + message.msg + '</p></div>' +
                    '</div></div>');
            }
            $('.chat-num').text(message.onlineCount);
            var $cards = $messageContainer.children('.card:visible').toArray();
            if ($cards.length > 5) {
                $cards.forEach(function (item, index) {
                    index < $cards.length - 5 && $(item).slideUp('fast');
                });
            }
        };

        webSocket.onclose = function (event) {
            console.log('WebSocket close connection.');
            webSocket.send(JSON.stringify({username: $('#username').text(), msg: $('#username').text()+ " has left the chat!", type: "CLOSED"}));
        };


        webSocket.onerror = function (event) {
            console.log('WebSocket exception.');
        };
        return webSocket;
    }

    var webSocket = getWebSocket();

    function sendMsgToServer() {
        var $message = $('#msg');
        if ($message.val()) {
            webSocket.send(JSON.stringify({username: $('#username').text(), msg: $message.val(), type: 'SPEAK'}));
            $message.val(null);
        }
    }

    function clearMsg() {
        $(".message-container").empty();
    }

    document.onkeydown = function (event) {
        var e = event || window.event || arguments.callee.caller.arguments[0];
        e.keyCode === 13 && sendMsgToServer();
    };

</script>

</body>
</html>

